.filter {
  padding-top: 40px;
  margin-bottom: 40px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 15%;
    height: 40px;
    right: 0;
    bottom: 0;
    background: linear-gradient(270deg, #1c1b1b 0%, rgba(28, 27, 27, 0) 100%);
    pointer-events: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 10px;
    color: $color-tangerine;
  }

  .title {
    margin-bottom: 48px;
  }

  &__list {
    display: flex;
    position: relative;

    @include viewport--lg {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      white-space: nowrap;
      margin-right: -20px;
      width: 100%;
    }
  }

  &__item {
    padding: 5px 40px;
    border-right: 1px solid rgba(255, 255, 255, 0.32);


    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 100px;
      border: none;
    }

    @include viewport--sm {
      padding: 5px 16px;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      >.filter__label-text {
        border-bottom: 2px solid $color-tangerine;
      }
    }
  }

  &__label-text {
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: border-color $default-transition-settings;
  }

  &__icon {
    margin-right: 12px;
  }

  &__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
  }
}
