.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 24px;

  &__logo {
    margin-right: 20px;
  }

  &__content {
    padding-top: 14px;
    display: flex;
  }

  &__nav {
    margin-right: 114px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-right: 48px;
    margin-bottom: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    flex-shrink: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: $color-white-smoke;
    text-transform: uppercase;
    transition: color $default-transition-settings;

    &:hover,
    &:focus {
      color: $color-tangerine;
    }

    &:active {
      color: lighten($color-tangerine, 20%);
    }
  }

  &__contacts {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-right: 8px;
  }

  &__location-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 24px;
  }

  &__location {
    padding-bottom: 2px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: $color-tangerine;
    border-bottom: 1px dashed transparent;

    &:hover,
    &:focus {
      border-bottom: 1px dashed $color-tangerine;
    }

    &:active {
      color: lighten($color-tangerine, 20%);
    }
  }

  &__location-icon {
    margin-right: 8px;
    fill: $color-tangerine;
  }
}

.main-bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;

  &__image {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
}
