<div class="main-bg">
  <picture>
    <source type="image/webp" media="(max-width: 767px)" srcset="@@img1x-mobile-webp 1x, @@img2x-mobile-webp 2x">
    <source type="image/webp" srcset="@@img1x-webp, @@img2x-webp 2x">
    <source media="(max-width: 767px)" srcset="@@img1x-mobile 1x, @@img2x-mobile 2x">
    <img class="main-bg__image" src="@@img1x" alt="@@alt" srcset="@@img2x 2x">
  </picture>
</div>

<!-- @@include("source/html/components/bg.html", {
"img1x": "img/bg/main-bg@1x.png",
"img2x": "img/bg/main-bg@2x.png",
"img1x-mobile": "img/bg/main-bg-mobile@1x.png",
"img2x-mobile": "img/bg/main-bg-mobile@2x.png",
"img1x-webp": "img/bg/main-bg@1x.webp",
"img2x-webp": "img/bg/main-bg@2x.webp",
"img1x-mobile-webp": "img/bg/main-bg-mobile@1x.webp",
"img2x-mobile-webp": "img/bg/main-bg-mobile@2x.webp",
"alt":"Изображение людей в заброшенном здании"
}) -->

<!-- <div class="main-bg">
  <picture>
    <source type="image/webp" media="(max-width: 767px)"
      srcset="img/bg/main-bg-mobile@1x.webp 1x, img/bg/main-bg-mobile@2x.webp 2x">
    <source type="image/webp" srcset="img/bg/main-bg@1x.webp, img/bg/main-bg@2x.webp 2x">
    <source media="(max-width: 767px)" srcset="img/bg/main-bg-mobile@1x.png 1x, img/bg/main-bg-mobile@2x.png 2x">
    <img class="main-bg__image" src="img/bg/main-bg@1x.png" alt="Изображение людей в заброшенном здании"
      srcset="img/bg/main-bg@2x.png 2x">
  </picture>
</div> -->
