@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway";

  font-display: swap;
  src:
    url("../fonts/raleway-800-normal.woff2") format("woff2"),
    url("../fonts/raleway-800-normal.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Raleway";

  font-display: swap;
  src:
    url("../fonts/raleway-700-normal.woff2") format("woff2"),
    url("../fonts/raleway-700-normal.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Raleway";

  font-display: swap;
  src:
    url("../fonts/raleway-600-normal.woff2") format("woff2"),
    url("../fonts/raleway-600-normal.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Raleway";

  font-display: swap;
  src:
    url("../fonts/raleway-500-normal.woff2") format("woff2"),
    url("../fonts/raleway-500-normal.woff") format("woff");
}
