<!-- <header class="header @@if (context.mod) { header--@@mod }">
  <div class="header__wrapper">
    <a class="header__logo" @@if (!context.main) { href="main.html"} aria-label="Переход на главную">
      Логотип
    </a>

    <nav class="main-nav">
      <button class="main-nav__toggle btn-reset" type="button" aria-label="Переключатель отображения меню" aria-pressed="false">
        <svg width="20" height="20">
          <use xlink:href="#icon-burger"></use>
        </svg>
      </button>
      <div class="main-nav__wrapper">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 0) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 0) { href="#" }>Страница 1</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 1) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 1) { href="#" }>Страница 2</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 2) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 2) { href="#" }>Страница 3</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header> -->

<!-- <div class="main-bg">
  <picture>
    <source type="image/webp" media="(max-width: 767px)"
      srcset="img/bg/main-bg-mobile@1x.webp 1x, img/bg/main-bg-mobile@2x.webp 2x">
    <source type="image/webp" srcset="img/bg/main-bg@1x.webp, img/bg/main-bg@2x.webp 2x">
    <source media="(max-width: 767px)" srcset="img/bg/main-bg-mobile@1x.png 1x, img/bg/main-bg-mobile@2x.png 2x">
    <img class="main-bg__image" src="img/bg/main-bg@1x.png" alt="Изображение людей в заброшенном здании"
      srcset="img/bg/main-bg@2x.png 2x">
  </picture>
</div> -->

<div class="container">
  <header class="header">
    <a class="header__logo" @@if (!context.main) { href="main.html" } aria-label="Переход на главную">
      <svg class="header__logo-svg" width="134" height="50" viewBox="0 0 134 52">
        <use xlink:href="#logo-desktop"></use>
      </svg>
    </a>
    <div class="header__content">
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link @@if (context.headerActiveLinkIndex === 0) { header__link--active }"
              href="#">КВЕСТЫ</a>
          </li>
          <li class="header__item">
            <a class="header__link  @@if (context.headerActiveLinkIndex === 1) { header__link--active }"
              href="#">НОВИЧКАМ</a>
          </li>
          <li class="header__item">
            <a class="header__link @@if (context.headerActiveLinkIndex === 2) { header__link--active }"
              href="#">ОТЗЫВЫ</a>
          </li>
          <li class="header__item">
            <a class="header__link @@if (context.headerActiveLinkIndex === 3) { header__link--active }"
              href="#">АКЦИИ</a>
          </li>
          <li class="header__item">
            <a class="header__link @@if (context.headerActiveLinkIndex === 4) { header__link--active }"
              href="#">КОНТАКТЫ</a>
          </li>
        </ul>
      </nav>
      <div class="header__contacts">
        <div class="header__location-wrapper">
          <svg class="header__location-icon" width="16" height="21" viewBox="0 0 11 14">
            <use xlink:href="#icon-location"></use>
          </svg>
          <a class="header__location" href="#" aria-label="Выбрать город">НОВОСИБИРСК</a>
        </div>
        <a class="header__link" href="tel:+83832840160">8 (383) 284 01 60</a>
      </div>
    </div>
  </header>
</div>
